* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  --font-asap: "Asap", sans-serif;
  --font-inconsolata: "Inconsolata", monospace;
  --font-maven: "Maven Pro", sans-serif;

  --title-lg: bold 56px/120% var(--font-asap);
  --title-md: bold 24px/120% var(--font-asap);
  --title-sm: bold 16px/120% var(--font-asap);

  --subtitle: 20px/120% var(--font-inconsolata);

  --text-md: 16px/140% var(--font-maven);
  --text-sm: 14px/140% var(--font-maven);
}

body {
  font: var(--text-sm);
  background-color: var(--gray-200);
  color: var(--gray-500);
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  span {
    font: var(--subtitle);
    color: var(--red);
  }

  h2 {
    font: var(--title-md);
    color: var(--gray-600);
  }

  p {
    font: var(--text-md);
    color: var(--gray-500);
  }
}