#my-jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 144px;

  .heading {
    margin-block: 72px 56px;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding-inline: 12px;
    padding-block: 12px 17px;
    gap: 20px;
    width: 330px;
    background-color: var(--gray-300);
    border-radius: 12px;

    &:hover {
      box-shadow: inset 0 0 0 2px var(--gray-400);
    }
    
    img {
      width: 306px;
      height: 156px;
      object-fit: cover;
      border-radius: 8px;
    }

    figcaption {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 4px;

      h3 {
        font: var(--title-sm);
        color: var(--gray-600);
      }

      p {
        font: var(--text-sm);
        color: var(--gray-500);
      }
    }

  }
}

#my-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-100);
  gap: 56px;
  padding-block: 88px 120px;

  div:nth-child(2) .card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    padding: 20px;
    border: 2px solid var(--gray-200);
    border-radius: 12px;

    img {
      width: 48px;
      height: 48px;
    }

    h2 {
      font: var(--title-sm);
      color: var(--gray-600);
    }

    p {
      font: var(--text-sm);
      color: var(--gray-500);
    }
  }

}

#contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  padding-block: 128px 200px;
  background-image: url(../assets/Background_Contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .heading span {
    color: var(--purple);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    
    li {
      display: flex;
      gap: 12px;
      width: 400px;
      align-items: center;
      background-color: var(--gray-300);
      border-radius: 8px;
      padding: 20px;
      line-height: 0;

      span {
        font: 500 16px/140% var(--font-maven);
      }

      &>img:nth-child(3) {
        margin-left: auto;
      }

      &:hover {
        box-shadow: inset 0 0 0 2px var(--blue);
      }

    }
  }
}